[submodule "src/lcp/geval"]
	path = src/lcp/geval
	url = https://github.com/nlpyang/geval.git
[submodule "data/MLSP_Data"]
	path = data/MLSP_Data
	url = https://github.com/MLSP2024/MLSP_Data.git
[submodule "data/TSAR-2022-Shared-Task"]
	path = data/TSAR-2022-Shared-Task
	url = https://github.com/LaSTUS-TALN-UPF/TSAR-2022-Shared-Task.git
